<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>psmultiblog</name>
    <displayName>Multi Blog</displayName>
    <version>1.0.0</version>
    <author>AI</author>
    <description>Multilanguage blog module for PrestaShop 9</description>
    <tab>front_office_features</tab>
    <is_configurable>1</is_configurable>
</module>
